@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 244 245 247;
  --fg: 20 24 28;
}

.dark {
  --bg: 18 22 26;
  --fg: 236 238 240;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}
